
CREATE  PROCEDURE [dbo].[SET_NETWORK_MAP_QUERY] @NetworkId int AS
BEGIN

	DECLARE @ResQry nvarchar(3000)
	DECLARE @str nvarchar(1000)
	DECLARE @str1 nvarchar(1000)
	DECLARE @str2 nvarchar(1000)	
	DECLARE @DATE_LOCAL varchar(50) 
	DECLARE @TIME_LOCAL varchar(50) 
	DECLARE @SETTLEMENT_DATE varchar(50) 
	DECLARE @STAN varchar(50)
	DECLARE @RELATIONSHIP_NUM varchar(50)
	DECLARE @TRAN_CODE varchar(50)
	DECLARE @MSG_TYPE varchar(50)
	DECLARE @PAN varchar(50)
	DECLARE @FROM_ACCOUNT_NUM varchar(50)
	DECLARE @TO_ACCOUNT_NUM varchar(50)
	DECLARE @ACCEPTED_LOCATION varchar(50)
	DECLARE @TERMINAL_ID varchar(50)
	DECLARE @TRAN_AMOUNT varchar(50)
	DECLARE @TRAN_CURRENCY varchar(50)
	DECLARE @TRAN_BASE_AMOUNT varchar(50)
	DECLARE @TRAN_BASE_CURRENCY varchar(50)
	DECLARE @ORIGINAL_LOG_ID varchar(50)
	DECLARE @ORIGINAL_RECEIVE_TIME varchar(50) 
	DECLARE @CHANNEL_ID varchar(50)	
	DECLARE @INTERNAL_FIELD varchar(50)
	DECLARE @MAP_FIELD varchar(50)
	DECLARE @ACQ_INST_ID_CODE varchar(50)
	DECLARE @TERMINALENTITYID VARCHAR(50)
	DECLARE @TRANFEES VARCHAR(50)
    DECLARE @CUSTOMERENTITYID VARCHAR(50)
    DECLARE @BRANCHCODE VARCHAR(50)
	DECLARE @DATE_CONVERSION varchar(50)
	DECLARE @CARD_ACCEPTOR_ID varchar(50)
	DECLARE @RETRIEVAL_REF_ID varchar(50)
	DECLARE @AUTH_ID_RESPONSE varchar(50)
	DECLARE @MERCHANT_TYPE VARCHAR(30)
	DECLARE @COMMISSION_AMOUNT varchar(50)
	DECLARE @COMMISSION_RATE varchar(50)
	DECLARE @PROCCODE varchar(30)
	DECLARE @VISA_TRAN_AMOUNT varchar(50)
    DECLARE @VISA_TRAN_CURRENCY varchar(50)
	DECLARE @TRANSMISSION_DATE varchar(50)
	DECLARE @IBFT_DATA varchar(100)
	
	select @ResQry=null 		   	
      	IF (@NetworkId is not NULL) 
            BEGIN
				--set default values if you want
				select @DATE_LOCAL ='null'
				select @TIME_LOCAL ='null'
				select @SETTLEMENT_DATE ='null'
				select @STAN ='null'
				select @RELATIONSHIP_NUM ='null'
				select @TRAN_CODE ='null'
				select @MSG_TYPE ='null'
				select @PAN ='null'
				select @FROM_ACCOUNT_NUM ='null'
				select @TO_ACCOUNT_NUM ='null'
				select @ACCEPTED_LOCATION ='null'
				select @TERMINAL_ID ='null'
				select @TRAN_AMOUNT ='null'
				select @TRAN_CURRENCY ='null'
				select @TRAN_BASE_AMOUNT ='null'
				select @TRAN_BASE_CURRENCY ='null'
				select @ORIGINAL_LOG_ID ='null'
				select @ORIGINAL_RECEIVE_TIME ='null'
				select @ACQ_INST_ID_CODE ='null'
				select @TERMINALENTITYID ='1'
				select @TRANFEES = 'null'
				select @CUSTOMERENTITYID ='1'
				select @BRANCHCODE ='0'
				select @DATE_CONVERSION ='null'
				select @CARD_ACCEPTOR_ID ='null'
				select @RETRIEVAL_REF_ID ='null'
				select @AUTH_ID_RESPONSE ='null'
				select @MERCHANT_TYPE = 'NULL'
				select @COMMISSION_AMOUNT = 'NULL'
				select @COMMISSION_RATE = 'NULL'
				select @PROCCODE = 'NULL'
				select @VISA_TRAN_AMOUNT ='NULL'
				select @VISA_TRAN_CURRENCY = 'NULL'
				select @TRANSMISSION_DATE = 'NULL'
				select @IBFT_DATA = 'NULL'
				--default: pick the network_id but since its numeric needs  
				--conversion to varchar
				select @CHANNEL_ID = 'convert(varchar(2),NETWORK_ID)' 
				
				-------------execute the query as per cursor----------
				DECLARE CInternalMapFieldList CURSOR FOR 
				SELECT INTERNAL_FIELD_NAME, LOG_FIELD_NAME
				FROM   INTERNAL_FIELDS INNER JOIN 
                		LOG_FIELD_MAPPING ON INTERNAL_FIELDS.INTERNAL_FIELD_ID = 
				LOG_FIELD_MAPPING.INTERNAL_FIELD_ID WHERE  NETWORK_ID = @NetworkId
				FOR READ ONLY
					
				OPEN CInternalMapFieldList

				FETCH NEXT FROM CInternalMapFieldList INTO
				@INTERNAL_FIELD,
				@MAP_FIELD
				WHILE (@@FETCH_STATUS = 0)
				BEGIN
					
					--Note: The internal tag define here should be same
					-- as define in rdvUI
					IF @INTERNAL_FIELD = 'DateLocalTransaction'
						BEGIN
							select @DATE_LOCAL = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'TimeLocalTransaction'
						BEGIN
							select @TIME_LOCAL = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'DateSettlement'
						BEGIN
							select @SETTLEMENT_DATE = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'STAN'
						BEGIN
							select @STAN = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'RelationshipNo' --tag not clear
						BEGIN
							select @RELATIONSHIP_NUM = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'TranCode'
						BEGIN
							select @TRAN_CODE = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'MsgType'
						BEGIN
							select @MSG_TYPE = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'PAN'
						BEGIN
							select @PAN = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'AccountId1' OR @INTERNAL_FIELD = 'AcctNr'
						BEGIN
							select @FROM_ACCOUNT_NUM = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'AccountId2'
						BEGIN
							select @TO_ACCOUNT_NUM = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'CardAcceptorNameLocation'
						BEGIN
							select @ACCEPTED_LOCATION = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'CardAcceptorTerminalId'
						BEGIN
							select @TERMINAL_ID = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'AmountTransaction'
						BEGIN
							select @TRAN_AMOUNT = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'CurrencyCodeTransaction'
						BEGIN
							select @TRAN_CURRENCY = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'TranBaseAmount' --tag not clear
						BEGIN
							select @TRAN_BASE_AMOUNT = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'TranBaseCurr' --tag not clear
						BEGIN
							select @TRAN_BASE_CURRENCY = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'OrigLogId' --tag not clear
						BEGIN --needs numeric value if it exists
							select @ORIGINAL_LOG_ID = 'convert(numeric(10,0),' + @MAP_FIELD + ')'
						END
					IF @INTERNAL_FIELD = 'OrigRcveTime' --tag not clear
						BEGIN
							select @ORIGINAL_RECEIVE_TIME = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'DeliveryChannelID'
						BEGIN
							select @CHANNEL_ID = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'TerminalEntityID' 
						BEGIN
							select @TERMINALENTITYID = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'IssuerEntityId' 
						BEGIN
							select @CUSTOMERENTITYID = @MAP_FIELD
						END
					IF @INTERNAL_FIELD = 'BranchCode' 
						BEGIN
							select @BRANCHCODE = @MAP_FIELD
						END
					
					IF @INTERNAL_FIELD = 'FeeAmt' 
						BEGIN
							select @TRANFEES = @MAP_FIELD
						END
						
					IF @INTERNAL_FIELD = 'MerchantType'
						BEGIN
						   select @MERCHANT_TYPE = @MAP_FIELD
						END
						
					IF @INTERNAL_FIELD = 'TransmissionDateAndTime'
						BEGIN
							SELECT @TRANSMISSION_DATE = @MAP_FIELD
						END
		 			IF @INTERNAL_FIELD = 'AcqInstIdCode' 
						BEGIN
							select @ACQ_INST_ID_CODE = @MAP_FIELD
						END
		 			IF @INTERNAL_FIELD = 'DateConversion' 
						BEGIN
							select @DATE_CONVERSION = @MAP_FIELD
						END
		 			IF @INTERNAL_FIELD = 'CardAcceptorIdCode' 
						BEGIN
							select @CARD_ACCEPTOR_ID = @MAP_FIELD
						END
		 			IF @INTERNAL_FIELD = 'RetrievalRefNumber' 
						BEGIN
							select @RETRIEVAL_REF_ID = @MAP_FIELD
						END 
		 			IF @INTERNAL_FIELD = 'AuthIdResponse' 
						BEGIN
							select @AUTH_ID_RESPONSE = @MAP_FIELD
						END 
					IF @INTERNAL_FIELD = 'CommissionAmount' 
					BEGIN
						select @COMMISSION_AMOUNT = @MAP_FIELD
					END 

					IF @INTERNAL_FIELD = 'CommissionRate' 
					BEGIN
						select @COMMISSION_RATE = @MAP_FIELD
					END 
					
					IF @INTERNAL_FIELD = 'ProcCode'
					BEGIN
						select @PROCCODE = @MAP_FIELD
					END
					
					IF @INTERNAL_FIELD = 'visaTranAmount'
					BEGIN 
						SELECT @VISA_TRAN_AMOUNT = @MAP_FIELD
					END
					
					IF @INTERNAL_FIELD = 'VisaCurrencyCodeTransaction'
					BEGIN
						SELECT @VISA_TRAN_CURRENCY = @MAP_FIELD
					END
					
					IF @INTERNAL_FIELD = 'ReservedPrivate-DE-120'
					BEGIN
						SELECT @IBFT_DATA = @MAP_FIELD
					END
					
					
					
				FETCH NEXT FROM CInternalMapFieldList INTO
				@INTERNAL_FIELD,
				@MAP_FIELD
				END
			
				CLOSE CInternalMapFieldList
				DEALLOCATE CInternalMapFieldList
				-------------query cursor end----------

				select @str1=',' + @DATE_LOCAL + ',' + @TIME_LOCAL +
					 ',' + @SETTLEMENT_DATE + ',' + @STAN + ',' + @RELATIONSHIP_NUM + ',' + @TRAN_CODE +
					 ',' + @MSG_TYPE + ',' + @PAN + ',' + @FROM_ACCOUNT_NUM + ',' + @TO_ACCOUNT_NUM + 
					 ',' + @ACCEPTED_LOCATION + ',' + @TERMINAL_ID + ',' + @TRAN_AMOUNT + 
					 ',' + @TRAN_CURRENCY + ',' + @TRAN_BASE_AMOUNT + ',' + @TRAN_BASE_CURRENCY + 
					 ',' + @ORIGINAL_LOG_ID + ',' + @ORIGINAL_RECEIVE_TIME + ',' + @CHANNEL_ID  +
					 ',' + @ACQ_INST_ID_CODE + ',' + @TERMINALENTITYID + ',' +@CUSTOMERENTITYID + @BRANCHCODE +
					 ',' + @DATE_CONVERSION + ',' + @CARD_ACCEPTOR_ID + ',' + @RETRIEVAL_REF_ID +
					 ',' + @AUTH_ID_RESPONSE + ',' + @TRANFEES + ',' + @MERCHANT_TYPE +
					 ',' +@COMMISSION_AMOUNT + ',' + @COMMISSION_RATE + ',' +@PROCCODE +
					 ','+@VISA_TRAN_AMOUNT +','+@VISA_TRAN_CURRENCY+ ',' +@TRANSMISSION_DATE + ','+ @IBFT_DATA + 
					 ',' + '''system''' + ',' + '''system'''  

				select @str= 'INSERT INTO TRAN_SUMMARY_TEMP 
				(LOG_ID, RECEIVED_DATE, NETWORK_ID, RESPONSE_CODE, DIRTY_FLAG,
				DATE_LOCAL, TIME_LOCAL, 
				SETTLEMENT_DATE, STAN, RELATIONSHIP_NUM, TRAN_CODE, 
				MSG_TYPE, PAN, FROM_ACCOUNT_NUM, TO_ACCOUNT_NUM, 
				ACCEPTED_LOCATION, TERMINAL_ID ,TRAN_AMOUNT, 
				TRAN_CURRENCY, TRAN_BASE_AMOUNT, TRAN_BASE_CURRENCY, 
				ORIGINAL_LOG_ID, ORIGINAL_RECEIVE_TIME, CHANNEL_ID,
				ACQ_INST_ID_CODE, TERMINAL_ENTITY_ID, CUSTOMER_ENTITY_ID, BRANCH_CODE,
				DATE_CONVERSION, CARD_ACCEPTOR_ID, RETRIEVAL_REF_ID,
				AUTH_ID_RESPONSE, TRAN_FEES, MERCHANT_TYPE,
				COMMISSION_AMOUNT, COMMISSION_RATE, PROCCODE, 
				VISA_TRAN_AMOUNT, VISA_TRAN_CURRENCY, TRANSMISSION_DATE,IBFT_DATA,
				CREATED_BY, UPDATED_BY)
				SELECT LOG_ID, RECEIVE_TIME, NETWORK_ID, ERROR_CODE, CASE WHEN TRAN_SUMMARY = 1 AND DIRTY_FLAG = 1 THEN 1 ELSE 0 END'

				select @str2=' FROM TRANSACTION_LOG A, ADAPTER_VIEW 
				B WHERE A.ADAPTER_ID = B.ADAPTER_ID AND 
				B.NETWORK_ID =' + convert(varchar(10),@NetworkId) + 
				' AND (A.TRAN_SUMMARY = 0  OR (A.TRAN_SUMMARY = 1 AND A.DIRTY_FLAG = 1))' +
				' AND ' + @TRAN_CODE + ' IN (SELECT TRAN_CODE FROM TRANSACTION_CODE)'
				  
				select @ResQry = @str +  @str1 + @str2
				
            END 
       update network set tran_summary_sql= @ResQry where NETWORK_ID = @NetworkId

END


