
CREATE PROCEDURE [dbo].[POPULATE_TRAN_SUMMARY]
	@userid                                   VARCHAR(4000) 
AS 
	BEGIN
		SET NOCOUNT ON
		
		DECLARE @starttime                                DATETIME 
		DECLARE @jobname                                  VARCHAR(30)                     
		SET @jobname = 'POPULATE_TRAN_SUMMARY' 
		DECLARE @tempmsg                                  VARCHAR(1000) 
		DECLARE @trandate                                 DATETIME 
		DECLARE @settledate                               DATETIME 
		DECLARE @tranamount                               NUMERIC(17,3) 
		DECLARE @baseamount                               NUMERIC(17,3) 
		DECLARE @receiveddate                             DATETIME 
		DECLARE @reccount                                 NUMERIC(10,0)                   
		SET @reccount = 0 
		DECLARE @recprocessed                             NUMERIC(10,0)                   
		SET @recprocessed = 0 
		DECLARE @recfailed                                NUMERIC(10,0)                   
		SET @recfailed = 0 
		DECLARE @recdate                                  VARCHAR(15) 
		DECLARE @rectime                                  VARCHAR(15) 
		DECLARE @recdatetime                              DATETIME 
		DECLARE @isdebug                                  NUMERIC(1,0) 
		DECLARE @ourdebitcard                             NUMERIC(10,0) 
		DECLARE @haserror                                 NUMERIC(1,0)                    
		SET @haserror = 0 
		DECLARE @actual_date_conversion                   DATETIME 
		DECLARE @localdate                                DATETIME 
		DECLARE @localtime                                DATETIME 
		DECLARE @channelnameUnknown						  VARCHAR(100)
		DECLARE @commissionAmount						  NUMERIC(15,3)
		DECLARE @commissionRate							  NUMERIC(15,3)
		DECLARE @procCode								  VARCHAR(30)
		DECLARE @visaTranAmount							  NUMERIC(15,3)
		DECLARE @visaTranCurrency						  VARCHAR(30)
		DECLARE @transmissionDate						  VARCHAR(30)
		DECLARE @networkrow_network_id NUMERIC(10,0)
		DECLARE @networkrow_name VARCHAR(20)
		DECLARE @networkrow_tran_summary_sql VARCHAR(2250)
		


		DECLARE cnetwork_list CURSOR LOCAL FOR 
		SELECT
				 network_id,
				 NAME,
				 tran_summary_sql
		FROM  network 
		WHERE	 tran_summary_sql  IS NOT NULL
		-- to be comment [and NETWORK_ID = 5]
		and NETWORK_ID = 5
		ORDER BY network_id 
		
		--Print '1'
		DECLARE @ctransummarylist CURSOR 
		

		DECLARE @transummaryrow_log_id NUMERIC(10,0)
		DECLARE @transummaryrow_received_date VARCHAR(32)
		DECLARE @transummaryrow_network_id NUMERIC(10,0)
		DECLARE @transummaryrow_channel_id VARCHAR(30)
		DECLARE @transummaryrow_date_local VARCHAR(32)
		DECLARE @transummaryrow_time_local VARCHAR(32)
		DECLARE @transummaryrow_settlement_date VARCHAR(32)
		DECLARE @transummaryrow_stan VARCHAR(32)
		DECLARE @transummaryrow_relationship_num VARCHAR(30)
		DECLARE @transummaryrow_tran_code VARCHAR(30)
		DECLARE @transummaryrow_msg_type VARCHAR(32)
		DECLARE @transummaryrow_response_code VARCHAR(30)
		DECLARE @transummaryrow_pan VARCHAR(32)
		DECLARE @transummaryrow_from_account_num VARCHAR(30)
		DECLARE @transummaryrow_date_conversion VARCHAR(50)
		DECLARE @transummaryrow_acq_inst_id_code VARCHAR(30)
		DECLARE @transummaryrow_terminal_entity_id VARCHAR(30)
		DECLARE @transummaryrow_tran_fee NUMERIC(17,3)
		DECLARE @transummaryrow_merchant_type VARCHAR(30)
		DECLARE @transummaryrow_customer_entity_id VARCHAR(30)
		DECLARE @transummaryrow_to_account_num VARCHAR(30)
		DECLARE @transummaryrow_accepted_location VARCHAR(64)
		DECLARE @transummaryrow_terminal_id VARCHAR(30)
		DECLARE @transummaryrow_tran_amount VARCHAR(32)
		DECLARE @transummaryrow_tran_currency VARCHAR(32)
		DECLARE @transummaryrow_tran_base_amount VARCHAR(32)
		DECLARE @transummaryrow_tran_base_currency VARCHAR(32)
		DECLARE @transummaryrow_original_log_id NUMERIC(10,0)
		DECLARE @transummaryrow_original_receive_time VARCHAR(32)
		DECLARE @transummaryrow_created_on DATETIME
		DECLARE @transummaryrow_created_by VARCHAR(30)
		DECLARE @transummaryrow_updated_on DATETIME
		DECLARE @transummaryrow_updated_by VARCHAR(30)
		DECLARE @transummaryrow_card_acceptor_id VARCHAR(50)
		DECLARE @transummaryrow_retrieval_ref_id VARCHAR(50)
		DECLARE @transummaryrow_auth_id_response VARCHAR(50)
		DECLARE @transummaryrow_commission_amount VARCHAR(50)
		DECLARE @transummaryrow_commission_rate VARCHAR(50)
		DECLARE @transummaryrow_proc_code VARCHAR(30)
		DECLARE @transummaryrow_dirty_flag NUMERIC(1,0) 
		DECLARE @transummaryrow_visa_tran_amount NUMERIC(15,3)
		DECLARE @transummaryrow_visa_tran_currency VARCHAR(30)
		DECLARE @transummaryrow_transmission_date VARCHAR(30)
		DECLARE @transummaryrow_ibft_data VARCHAR(1000)
		DECLARE @companyId				VARCHAR(30)
		DECLARE @CONUSUMER_NUM				VARCHAR(30)
		DECLARE @COMPANY_SERVICE_ID				VARCHAR(30)

		SELECT @starttime  =  GETDATE()
		
		SELECT @isdebug  =  1
		FROM batch_job 
		WHERE job_name  = 'POPULATE_TRAN_SUMMARY'
		
		TRUNCATE TABLE TRAN_SUMMARY_TEMP
		
		--Print '2'

		SELECT @reccount  = 0 
		SELECT @recprocessed  = 0 
		SELECT @recfailed  = 0 
		INSERT INTO  batch_job_execution   
				( job_name , 
				start_time , 
				record_processed , 
				status , 
				created_by , 
				updated_by )  
		 VALUES ( 'POPULATE_TRAN_SUMMARY' , 
				@starttime , 
				@recprocessed , 
				'INITIALZING' , 
				@userid , 
				@userid )  
		
		
		OPEN cnetwork_list 
		FETCH NEXT FROM  cnetwork_list INTO 
			@networkrow_network_id, @networkrow_name, @networkrow_tran_summary_sql

		WHILE (@@FETCH_STATUS <> -1)
		BEGIN

			PRINT 'Processing for network:' + @networkrow_name
			
			DECLARE @adv_rowcount INT
			DECLARE @adv_error INT

			UPDATE  batch_job_execution   
			SET	status = 'PROCESSING' 
			WHERE  job_name = 'POPULATE_TRAN_SUMMARY' AND start_time = @starttime 
			
			SELECT @adv_error = @@ERROR
			IF @adv_error != 0 
				GOTO Exception2

			IF @isdebug = 1 
			BEGIN 
				INSERT INTO batch_job_log (job_name, start_time, ERROR_TYPE, error_desc, created_by, updated_by)  
				VALUES (@jobname, @starttime, 0, 'PROCESSING ROWS FOR NETWORK: ' + CAST(@networkrow_name AS VARCHAR), @userid, @userid)
				
				SELECT @adv_error = @@ERROR
				IF @adv_error != 0 
					GOTO Exception2
			END
			
			TRUNCATE TABLE TRAN_SUMMARY_TEMP
			
			-- LOG.INFO - FILL TRAN_SUMMARY_TEMP WITH INSERT QUERY DEFINED FOR NETWORK
			DECLARE @EXEC_IMMEDIATE_VAR VARCHAR (4000)
			SELECT @EXEC_IMMEDIATE_VAR  = @networkrow_tran_summary_sql

			EXECUTE (@EXEC_IMMEDIATE_VAR)

			SELECT @adv_error = @@ERROR
			IF @adv_error != 0 
				GOTO Exception2			

			--Print '3'

			SET @ctransummarylist =  CURSOR LOCAL FOR 
			SELECT tst.LOG_ID, tst.RECEIVED_DATE, tst.NETWORK_ID, tst.CHANNEL_ID, tst.DATE_LOCAL, 
			       tst.TIME_LOCAL,SETTLEMENT_DATE, tst.STAN,RELATIONSHIP_NUM,
				   tst.TRAN_CODE,  
			       tst.MSG_TYPE,RESPONSE_CODE, tst.PAN,FROM_ACCOUNT_NUM, tst.DATE_CONVERSION,
			       tst.ACQ_INST_ID_CODE,tst.TERMINAL_ENTITY_ID,tst.TRAN_FEES, tst.MERCHANT_TYPE,
				   tst.CUSTOMER_ENTITY_ID,TO_ACCOUNT_NUM, tst.ACCEPTED_LOCATION,tst.TERMINAL_ID, 
			       tst.TRAN_AMOUNT, tst.TRAN_CURRENCY, tst.TRAN_BASE_AMOUNT, tst.TRAN_BASE_CURRENCY,
			       tst.ORIGINAL_LOG_ID,tst.ORIGINAL_RECEIVE_TIME,tst.COMMISSION_AMOUNT,tst.COMMISSION_RATE,tst.PROCCODE,
			       tst.VISA_TRAN_AMOUNT,tst.VISA_TRAN_CURRENCY,tst.TRANSMISSION_DATE,tst.CREATED_ON, tst.CREATED_BY, 
			       tst.UPDATED_ON,tst.UPDATED_BY,tst.CARD_ACCEPTOR_ID,tst.RETRIEVAL_REF_ID,tst.AUTH_ID_RESPONSE, 
			       tst.DIRTY_FLAG, tst.IBFT_DATA, tst.COMPANY_ID, tst.CONUSUMER_NUM, tst.COMPANY_SERVICE_ID
			FROM  tran_summary_temp tst,
				 transaction_code tc 
				WHERE	   
					  tst.tran_code = tc.TRAN_CODE and
				   	  tst.network_id  = @networkrow_network_id
					  

			OPEN @ctransummarylist 
			PRINT 'AFTER FETCH OPEN FOR NETWORK '+CAST(@networkrow_network_id as varchar)
			
			FETCH NEXT FROM  @ctransummarylist INTO 
								@transummaryrow_log_id, @transummaryrow_received_date, @transummaryrow_network_id, 
								@transummaryrow_channel_id, @transummaryrow_date_local, @transummaryrow_time_local, 
								@transummaryrow_settlement_date, @transummaryrow_stan, @transummaryrow_relationship_num, 
								@transummaryrow_tran_code, @transummaryrow_msg_type, @transummaryrow_response_code, 
								@transummaryrow_pan, @transummaryrow_from_account_num, @transummaryrow_date_conversion, 
								@transummaryrow_acq_inst_id_code,@transummaryrow_terminal_entity_id,@transummaryrow_tran_fee,@transummaryrow_merchant_type,@transummaryrow_customer_entity_id, @transummaryrow_to_account_num, @transummaryrow_accepted_location, 
								@transummaryrow_terminal_id,@transummaryrow_tran_amount, @transummaryrow_tran_currency, 
								@transummaryrow_tran_base_amount, @transummaryrow_tran_base_currency, @transummaryrow_original_log_id, 
								@transummaryrow_original_receive_time,@transummaryrow_commission_amount,@transummaryrow_commission_rate,@transummaryrow_proc_code,
								@transummaryrow_visa_tran_amount,@transummaryrow_visa_tran_currency,@transummaryrow_transmission_date,
								@transummaryrow_created_on, @transummaryrow_created_by, 
								@transummaryrow_updated_on, @transummaryrow_updated_by, @transummaryrow_card_acceptor_id, 
								@transummaryrow_retrieval_ref_id, @transummaryrow_auth_id_response, @transummaryrow_dirty_flag,@transummaryrow_ibft_data,@companyId,
								@CONUSUMER_NUM,@COMPANY_SERVICE_ID

			WHILE (@@FETCH_STATUS <> -1)

			BEGIN
				PRINT 'Processing Row LOG_ID:'+CAST(@networkrow_network_id as varchar)+'@' + CAST(@transummaryrow_log_id as varchar)+ ', RECEIVE_TIME:' + CAST(@transummaryrow_received_date as varchar )+ ', cutomer_ENTITY_ID:' + CAST( @transummaryrow_customer_entity_id as varchar )					
				--SELECT  @transummaryrow_tran_code  = ( SELECT CODE_NAME FROM GETCODEMAPPING WHERE NETWORK_ID = @networkrow_network_id AND CODE_ID = @transummaryrow_tran_code )

				-- LOG.INFO RECEIVED_DATE
				SELECT @receiveddate  = CONVERT(DATETIME, 
								SUBSTRING(@transummaryrow_received_date, 1, 4)
                                                                + '-' + SUBSTRING(@transummaryrow_received_date, 5, 2)
								+ '-' + SUBSTRING(@transummaryrow_received_date, 7, 2)
								+ ' ' + SUBSTRING(@transummaryrow_received_date, 9, 2)
								+ ':' + SUBSTRING(@transummaryrow_received_date, 11, 2)
								+ ':' + SUBSTRING(@transummaryrow_received_date, 13, 2)
								, 120)

								
				IF LTRIM(RTRIM(@transummaryrow_date_local)) = ''
				BEGIN 
					SELECT @transummaryrow_date_local  = SUBSTRING(@transummaryrow_received_date, 5, 4)
				END
   
				--IF @transummaryrow_time_local IS NULL 
				IF ltrim(rtrim(@transummaryrow_time_local)) = ''

				BEGIN 
					SELECT @transummaryrow_time_local  = SUBSTRING(@transummaryrow_received_date, 9, 6)
				END
   
				SELECT @transummaryrow_date_local  = SUBSTRING(@transummaryrow_received_date, 1, 4)
								    + ' - ' + SUBSTRING( @transummaryrow_date_local, 1, 2 )
								    + ' - ' + SUBSTRING( @transummaryrow_date_local, 3, 2 )	
								+ ' ' + SUBSTRING(@transummaryrow_time_local, 1, 2)
								+ ':' + SUBSTRING(@transummaryrow_time_local, 3, 2)
								+ ':' + SUBSTRING(@transummaryrow_time_local, 5, 2);
				print @transummaryrow_log_id				
				print @transummaryrow_date_local
				print @transummaryrow_time_local

				Print 'data local ' + @transummaryrow_date_local
				SELECT @trandate  = CONVERT(DATETIME, @transummaryrow_date_local, 120)
				print @trandate
				print 'received date : ' + @transummaryrow_received_date
				print 'settlement date : ' + @transummaryrow_settlement_date
				-- LOG.INFO SETTLEMENT_DATE
				IF @transummaryrow_settlement_date IS NOT NULL 
				BEGIN 					
					--SELECT @settledate  = CONVERT(DATETIME, SUBSTRING(@transummaryrow_received_date, 3, 2) + @transummaryrow_settlement_date, 112)
					--IF ( SUBSTRING(@transummaryrow_date_local, 6, 2)= '12' ) AND ( SUBSTRING(@transummaryrow_settlement_date, 1, 2)= '01' ) 
					--BEGIN 
					--	SELECT @settledate  = DATEADD(M, 12, @settledate)
					--END
					select @settledate = GETDATE()
				Print 'done'
				END
				ELSE
				BEGIN 
					SELECT @settledate  = @trandate
				END
   
				SELECT @ourdebitcard  = 0 
				--BY DEFAULT NOT OUR DEBIT CARD
				--EXTRACT OUR DEBIT CARD FROM PAN
				
				IF @transummaryrow_pan IS NOT NULL 
				BEGIN 
					SELECT @ourdebitcard = COUNT(*)
					FROM DEBIT_CARD_PRODUCT_IMD DCPI
					WHERE DCPI.IMD = SUBSTRING(@transummaryrow_pan, 1, 6)
				END				
   
				-- FINDING CUSTOMER RELATIONSHIP NUMBER FROM EITHER PAN OR ACCOUNT NUMBER
				IF ( @transummaryrow_relationship_num IS NULL ) AND ( @transummaryrow_pan IS NOT NULL ) AND ( @ourdebitcard > 0 ) 
				BEGIN 
					SELECT @transummaryrow_relationship_num = RELATIONSHIP_NUM
					FROM DEBIT_CARD
					WHERE PAN = @transummaryrow_pan

					SELECT @adv_error = @@ERROR, @adv_rowcount = @@ROWCOUNT
					IF @adv_error != 0 OR @adv_rowcount = 0 
					BEGIN
						IF @adv_rowcount = 0
						BEGIN
							PRINT 'Error: ' + Cast( @adv_error as varchar )+ ' - No Data Found for our debit card with PAN' + @transummaryrow_pan
						END
						GOTO Exception5
					END
					GOTO ExitLabel5
					
					Exception5:
						IF @adv_rowcount = 0 
						BEGIN
						
						INSERT INTO  batch_job_log( job_name, start_time, ERROR_TYPE, error_desc, created_by, updated_by)  
						VALUES ( @jobname, @starttime, 3, 'No Debit Card found against PAN: ' + CAST(@transummaryrow_pan AS VARCHAR), @userid, @userid)

						SELECT @adv_error = @@ERROR
						IF @adv_error != 0 
							GOTO Exception5
						END
					
					ExitLabel5:
				END								
   
				IF ( @transummaryrow_relationship_num IS NULL ) AND ( @transummaryrow_from_account_num IS NOT NULL ) 
				BEGIN 
					SELECT @transummaryrow_relationship_num  =  RELATIONSHIP_NUM
					FROM CUSTOMER_ACCOUNT
					WHERE ACCOUNT_NUM = @transummaryrow_from_account_num

					SELECT @adv_error = @@ERROR, @adv_rowcount=@@ROWCOUNT
					IF @adv_error != 0 OR @adv_rowcount > 1 OR @adv_rowcount = 0 
					BEGIN
						IF @adv_rowcount > 1
						BEGIN
							PRINT 'Error: ' + Cast( @adv_error as varchar)+ ' - TOO MANY ROWS FOUND FOR FINDING CUSTOMER WITH ACCOUNT_NUM = ' + @transummaryrow_from_account_num
						END

						IF @adv_rowcount = 0
						BEGIN
							 PRINT 'Error: ' + cast( @adv_error as varchar )+ ' - No Data Found against our ACCOUNT_NUM:' + @transummaryrow_from_account_num
						END
						GOTO Exception6
					END
					GOTO ExitLabel6
					
					Exception6:
						IF @adv_rowcount = 0 
						BEGIN
							INSERT INTO  batch_job_log (job_name, start_time, ERROR_TYPE, error_desc, created_by, updated_by)
							VALUES (@jobname, @starttime, 3, 'Either Account Not found or not linked with any customer Account Num: ' + CAST(@transummaryrow_from_account_num AS VARCHAR), @userid, @userid)
							
							SELECT @adv_error = @@ERROR
							IF @adv_error != 0 
								GOTO Exception6
						END
						ELSE IF @adv_rowcount > 1 
						BEGIN
							INSERT INTO batch_job_log (job_name, start_time, ERROR_TYPE, error_desc, created_by, updated_by)
							VALUES (@jobname, @starttime, 3, 'Can''t deduce Customer relationship number as more than one customers are liked to the Account. Account Num: ' + CAST(@transummaryrow_from_account_num AS VARCHAR), @userid, @userid)
						
							SELECT @adv_error = @@ERROR
							IF @adv_error != 0 
								GOTO Exception6
						END
					ExitLabel6:
				END
   
				IF @transummaryrow_network_id = '4' OR  @transummaryrow_network_id = '13'   
				BEGIN
					SELECT @tranamount = @transummaryrow_tran_amount
				END
				ELSE
				BEGIN
				SELECT @tranamount = 100
					-- SELECT @tranamount = DBO.to_amount_new(@transummaryrow_tran_amount, @transummaryrow_tran_currency)
				END

				IF @transummaryrow_tran_base_amount IS NULL 
				BEGIN 
					SELECT @baseamount = DBO.to_base_amount(@transummaryrow_tran_currency, @transummaryrow_tran_base_currency, @tranamount)
				END
				ELSE
				BEGIN 
					SELECT @baseamount = DBO.to_amount(@transummaryrow_tran_base_amount, @transummaryrow_tran_base_currency)
				END
				
				SELECT @visaTranAmount = dbo.TO_AMOUNT(@transummaryrow_visa_tran_amount,@transummaryrow_visa_tran_currency)
				
				SELECT @commissionAmount = DBO.to_amount(@transummaryrow_commission_amount, @transummaryrow_tran_currency)
				
				SELECT @transmissionDate = @transummaryrow_transmission_date

				--SAVE TRANSACTION commit_tran
				IF @transummaryrow_date_local IS NOT NULL 
					BEGIN 
						SELECT @localdate = CONVERT(DATETIME, @transummaryrow_date_local, 120);
					END
				ELSE
					BEGIN 
						SELECT @localdate = @receiveddate 
					END
   
				IF @transummaryrow_time_local IS NOT NULL 
					BEGIN 
						SELECT @localtime  = CONVERT(DATETIME, SUBSTRING(@transummaryrow_time_local, 1, 2) + ':' + SUBSTRING(@transummaryrow_time_local, 3, 2) + ':' + SUBSTRING(@transummaryrow_time_local, 5, 2),108)
					END
				ELSE
					BEGIN 
						SELECT @localtime  = CONVERT(DATETIME,SUBSTRING(@transummaryrow_received_date, 9, 2)+ ':' + SUBSTRING(@transummaryrow_received_date, 11, 2)+ ':' + SUBSTRING(@transummaryrow_received_date, 13, 2),108)
					END
   
				SELECT @trandate  = CONVERT(DATETIME, CAST( DATEPART(YYYY, @localdate) as varchar)
								      + '-' + Cast(DATEPART(mm, @localdate) as varchar )
								      + '-' + Cast(DATEPART(dd, @localdate) as varchar )
								      + ' ' + CONVERT(VARCHAR (23), @localtime, 108)
							    , 120);

				SELECT @actual_date_conversion  = CONVERT(DATETIME, 
									Cast(DATEPART(YYYY, @localdate) as varchar)
                                      + '-' + SUBSTRING(@transummaryrow_date_conversion, 1, 2)
									  + '-' + SUBSTRING(@transummaryrow_date_conversion, 3, 2)
									  + ' ' + CONVERT(VARCHAR (23), @localtime, 108), 120)
									  --select * from NETWORK
									  --select * from DELIVERY_CHANNEL
				
				IF @transummaryrow_network_id = '13'  
				BEGIN
					SET @transummaryrow_channel_id = '13'
					SET @channelnameUnknown = 'SMS Banking'
				END
				
				ELSE IF @transummaryrow_network_id = '4'  
				BEGIN
					SET @transummaryrow_channel_id = '4'
					SET @channelnameUnknown = 'Internet Banking'
				END
								
				ELSE IF @transummaryrow_network_id = '12' 
				BEGIN
					SET @transummaryrow_channel_id = '1'
					SET @channelnameUnknown = 'ATM'
				END
				
				ELSE IF @transummaryrow_network_id = '10'  
				BEGIN
					IF ( @transummaryrow_tran_code = '0071' OR @transummaryrow_tran_code = '0070' OR  @transummaryrow_tran_code = '0010' )
					BEGIN
						SET @transummaryrow_channel_id = '1'
						SET @channelnameUnknown = 'ATM'
					END
					ELSE IF ( @transummaryrow_tran_code = '0075' OR @transummaryrow_tran_code = '9001' )
					BEGIN
						SET @transummaryrow_channel_id = '3'
						SET @channelnameUnknown = 'POS'
					END
				END

				ELSE IF @transummaryrow_network_id = '11'  
				BEGIN
					IF ( @transummaryrow_tran_code = '4002' OR @transummaryrow_tran_code = '4001' OR  @transummaryrow_tran_code = '0010' )
					BEGIN
						SET @transummaryrow_channel_id = '1'
						SET @channelnameUnknown = 'ATM'
					END
					ELSE IF ( @transummaryrow_tran_code = '4003' OR @transummaryrow_tran_code = '9001' )
					BEGIN
						SET @transummaryrow_channel_id = '3'
						SET @channelnameUnknown = 'POS'
					END
				END

					--select * from TRANSACTION_CODe
					--where TRAN_CODE  in (
					--SELECT CODE_NAME FROM GETCODEMAPPING WHERE NETWORK_ID =9)
					

				ELSE 
				BEGIN
					SET @transummaryrow_channel_id = @transummaryrow_channel_id
					SET @channelnameUnknown = 'UNKNOWN'
				END
					
				IF @transummaryrow_dirty_flag = 0 
				BEGIN 
					INSERT INTO  transaction_summary
							(log_id,
							received_date,
							network_id,
							network_name,
							channel_id,
							channel_name,
							tran_date,
							settlement_date,
							stan,
							relationship_num,
							tran_code,
							tran_name,
							msg_type,
							response_code,
							response_name,
							pan,
							from_account_num,
							to_account_num,
							accepted_location,
							terminal_id,
							our_debit_card,
							tran_amount,
							tran_currency,
							tran_base_amount,
							tran_base_currency,
							original_log_id,
							original_receive_time,
							acq_inst_id_code,
							terminal_entity_id,
							tran_fees,
							merchant_type,							
							customer_entity_id,
							date_conversion,
							card_acceptor_id,
							retrieval_ref_id,
							auth_id_response,
							COMMISSION_AMOUNT,
							COMMISSION_RATE,
							PROCCODE,
							VISA_TRAN_AMOUNT,
							VISA_TRAN_CURRENCY,
							TRANSMISSION_DATE,
							created_on,
							created_by,
							updated_on,
							updated_by,
							IBFT_DATA,
							COMPANY_ID,
							CONUSUMER_NUM,
							UTIL_SERVICE_CODE
							)  
					SELECT
							 @transummaryrow_log_id,
							 @receiveddate,
							 @transummaryrow_network_id,
							 n.NAME,
							 CONVERT(NUMERIC(8, 2), @transummaryrow_channel_id),
							 @channelnameUnknown,
							 @trandate,
							 @settledate,
							 @transummaryrow_stan,
							 @transummaryrow_relationship_num,
							 @transummaryrow_tran_code,
							 tc.tran_name,
							 @transummaryrow_msg_type,
							 @transummaryrow_response_code,
							 se.error_description,
							 @transummaryrow_pan,
							 @transummaryrow_from_account_num,
							 @transummaryrow_to_account_num,
							 @transummaryrow_accepted_location,
							 @transummaryrow_terminal_id,
							 @ourdebitcard,
							 @tranamount,
							 @transummaryrow_tran_currency,
							 @baseamount,
							 @transummaryrow_tran_base_currency,
							 @transummaryrow_original_log_id,
							 @transummaryrow_original_receive_time,
							 @transummaryrow_acq_inst_id_code,
							 @transummaryrow_terminal_entity_id,
							 @transummaryrow_tran_fee,
							 @transummaryrow_merchant_type,
							 @transummaryrow_customer_entity_id,
							 @actual_date_conversion,
							 @transummaryrow_card_acceptor_id,
							 @transummaryrow_retrieval_ref_id,
							 @transummaryrow_auth_id_response,
							 @commissionAmount,
							 @transummaryrow_commission_rate,
							 @transummaryrow_proc_code,
							 @transummaryrow_visa_tran_amount,
						     @transummaryrow_visa_tran_currency,
						     @transummaryrow_transmission_date,
							 GETDATE(),
							 @jobname,
							 GETDATE(),
							 @jobname,
							 @transummaryrow_ibft_data,
							 @companyId,
							 @CONUSUMER_NUM,
							 @COMPANY_SERVICE_ID
					FROM NETWORK n,
						SWITCH_ERROR_CODES se,
						TRANSACTION_CODE tc 
					WHERE n.network_id = @transummaryrow_network_id
						AND @transummaryrow_response_code = se.ERROR_CODE
						AND tc.tran_code = @transummaryrow_tran_code
					

					SELECT @adv_error = @@ERROR
					IF @adv_error != 0 
						GOTO Exception3

					UPDATE transaction_log 
					SET	tran_summary = 1
					WHERE log_id = @transummaryrow_log_id
					AND receive_time = @transummaryrow_received_date 
					
					SELECT @adv_error = @@ERROR
					IF @adv_error != 0 
						GOTO Exception3
				END
				ELSE
				BEGIN 
					UPDATE  transaction_summary   
					SET	log_id = @transummaryrow_log_id,	
					    received_date = @receiveddate,	
					    network_id = @transummaryrow_network_id,	
					    network_name = (
									SELECT n.NAME
									FROM  network n 
									WHERE	 n.network_id  = @transummaryrow_network_id
									),	
					    channel_id = @transummaryrow_channel_id,	
					    channel_name = (select channel_name from delivery_channel where delivery_channel.channel_code = @transummaryrow_channel_id),	
					    tran_date = @trandate,	
					    settlement_date = @settledate,	
					    stan = @transummaryrow_stan,	
					    relationship_num = @transummaryrow_relationship_num,	
					    tran_code = @transummaryrow_tran_code,	
					    tran_name = (
									SELECT tc.tran_name
									FROM  transaction_code tc 
									WHERE	 tc.tran_code  = @transummaryrow_tran_code
									),	
					    msg_type = @transummaryrow_msg_type,	
					    response_code = @transummaryrow_response_code,	
					    response_name = (
									SELECT se.error_description
									FROM  switch_error_codes se 
									WHERE	 se.ERROR_CODE  = @transummaryrow_response_code
									),	
					    pan = @transummaryrow_pan,	
					    from_account_num = @transummaryrow_from_account_num,	
					    to_account_num = @transummaryrow_to_account_num,	
					    accepted_location = @transummaryrow_accepted_location,	
					    terminal_id = @transummaryrow_terminal_id,
					    our_debit_card = @ourdebitcard,	
					    tran_amount = @tranamount,	
					    tran_currency = @transummaryrow_tran_currency,	
					    tran_base_amount = @baseamount,	
					    tran_base_currency = @transummaryrow_tran_base_currency,	
					    original_log_id = @transummaryrow_original_log_id,	
					    original_receive_time = @transummaryrow_original_receive_time,	
					    acq_inst_id_code = @transummaryrow_acq_inst_id_code,	
					    terminal_entity_id = @transummaryrow_terminal_entity_id,
					    tran_fees = DBO.to_amount(@transummaryrow_tran_fee, @transummaryrow_tran_base_currency),
					    customer_entity_id = @transummaryrow_customer_entity_id,	
					    date_conversion = @actual_date_conversion,	
					    card_acceptor_id = @transummaryrow_card_acceptor_id,	
					    retrieval_ref_id = @transummaryrow_retrieval_ref_id,	
					    auth_id_response = @transummaryrow_auth_id_response,
                        merchant_type = @transummaryrow_merchant_type,
                        COMMISSION_AMOUNT = @commissionAmount,
                        COMMISSION_RATE = @transummaryrow_commission_rate,	
                        PROCCODE = @transummaryrow_proc_code,	
                        VISA_TRAN_AMOUNT = @transummaryrow_visa_tran_amount,
                        VISA_TRAN_CURRENCY = @transummaryrow_visa_tran_currency,
                        TRANSMISSION_DATE = @transummaryrow_transmission_date,				
					    created_on = GETDATE(),	
					    created_by = @jobname,	
					    updated_on = GETDATE(),	
					    updated_by = @jobname ,
					    IBFT_DATA = @transummaryrow_ibft_data,
						COMPANY_ID = @companyId,
						CONUSUMER_NUM = @CONUSUMER_NUM,
						UTIL_SERVICE_CODE = @COMPANY_SERVICE_ID
					WHERE  log_id  = @transummaryrow_log_id
					 AND	received_date  = @receiveddate 
					

					SELECT @adv_error = @@ERROR
					IF @adv_error != 0 
						GOTO Exception3

					UPDATE  transaction_log   
					SET	tran_summary = 1,	
					    dirty_flag = 0 
					WHERE log_id = @transummaryrow_log_id
						AND receive_time = @transummaryrow_received_date
					

					SELECT @adv_error = @@ERROR
					IF @adv_error != 0 
						GOTO Exception3
				END
				
				-- IMPLICIT_TRANSACTIONS is set to OFF
				SELECT @reccount  = @reccount + 1 
				SELECT @recprocessed  = @recprocessed + 1 
				IF CONVERT(INT,@reccount) %  20 = 0 
				BEGIN 
					UPDATE batch_job_execution   
					SET	record_count = @reccount,	
					    record_processed = @recprocessed,	
					    record_failed = @recfailed 
					WHERE job_name = @jobname
						AND start_time = @starttime 
					
					SELECT @adv_error = @@ERROR
					IF @adv_error != 0 
						GOTO Exception3
				END
   
				GOTO ExitLabel3
				Exception3:  
					BEGIN
					SELECT @recfailed  = @recfailed + 1 
					SELECT @tempmsg  = 'Failed to Process Row LOG_ID:' + CAST(@transummaryrow_log_id as varchar)+ ', RECEIVE_TIME:' + CAST( @transummaryrow_received_date as varchar )
					PRINT @tempmsg
					INSERT INTO  batch_job_log (job_name, start_time, ERROR_TYPE, error_desc, created_by, updated_by)  
					VALUES (@jobname, @starttime, 3, @tempmsg, @userid, @userid)
					

					SELECT @adv_error = @@ERROR
					IF @adv_error != 0 
						GOTO Exception3

					SELECT @haserror  = 1 		
					-- IMPLICIT_TRANSACTIONS is set to OFF
					END
				ExitLabel3:
				
			FETCH NEXT FROM  @ctransummarylist INTO 
								@transummaryrow_log_id, @transummaryrow_received_date, @transummaryrow_network_id, 
								@transummaryrow_channel_id, @transummaryrow_date_local, @transummaryrow_time_local, 
								@transummaryrow_settlement_date, @transummaryrow_stan, @transummaryrow_relationship_num, 
								@transummaryrow_tran_code, @transummaryrow_msg_type, @transummaryrow_response_code, 
								@transummaryrow_pan, @transummaryrow_from_account_num, @transummaryrow_date_conversion, 
								@transummaryrow_acq_inst_id_code,@transummaryrow_terminal_entity_id,@transummaryrow_tran_fee,@transummaryrow_merchant_type,@transummaryrow_customer_entity_id, @transummaryrow_to_account_num, @transummaryrow_accepted_location, 
								@transummaryrow_terminal_id,@transummaryrow_tran_amount, @transummaryrow_tran_currency, 
								@transummaryrow_tran_base_amount, @transummaryrow_tran_base_currency, @transummaryrow_original_log_id, 
								@transummaryrow_original_receive_time,@transummaryrow_commission_amount,@transummaryrow_commission_rate,@transummaryrow_proc_code,
								@transummaryrow_visa_tran_amount,@transummaryrow_visa_tran_currency,@transummaryrow_transmission_date,
								@transummaryrow_created_on, @transummaryrow_created_by, 
								@transummaryrow_updated_on, @transummaryrow_updated_by, @transummaryrow_card_acceptor_id, 
								@transummaryrow_retrieval_ref_id, @transummaryrow_auth_id_response, @transummaryrow_dirty_flag,@transummaryrow_ibft_data,@companyId,
								@CONUSUMER_NUM,@COMPANY_SERVICE_ID
			END
			CLOSE @ctransummarylist
			DEALLOCATE @ctransummarylist
			
			GOTO ExitLabel2
			Exception2:-- END LOOP TRANS SUMMARY CURSOR
				
				  
				BEGIN
				SELECT @tempmsg  = 'FAILED TO PROCESS TRANSACTION ROWS FOR NETWORK:' + CAST(@networkrow_network_id as varchar)
				INSERT INTO batch_job_log (job_name, start_time, ERROR_TYPE, error_desc, created_by, updated_by)  
				VALUES (@jobname, @starttime, 0, @tempmsg, @userid, @userid)
				

				SELECT @adv_error = @@ERROR
				IF @adv_error != 0 
					GOTO Exception2

				SELECT @haserror  = 2 
				END
			ExitLabel2:

			
		FETCH NEXT FROM  cnetwork_list INTO 
			@networkrow_network_id, @networkrow_name, @networkrow_tran_summary_sql
		END
		CLOSE cnetwork_list
		DEALLOCATE cnetwork_list
		
		UPDATE  batch_job_execution   
		SET	end_time = GETDATE(),	
		    status = 'COMPLETED WITH STATUS = ' + CAST(@haserror AS VARCHAR),	
		    record_count = @reccount,	
		    record_processed = @recprocessed,	
		    record_failed = @recfailed,	
		    updated_on = GETDATE() 
		WHERE  job_name  = @jobname
			AND	start_time = @starttime 
		
		UPDATE  batch_job   
		SET	last_run = @starttime,	
		    last_run_status = @haserror,	
		    updated_on = GETDATE() 
		WHERE  job_name  = @jobname 
		
		SET NOCOUNT OFF
	END


