
CREATE PROCEDURE BIZPROC_TABLE_PLAIN_ENTRY
-- ALTER PROCEDURE BIZPROC_TABLE_PLAIN_ENTRY
(
  @V_BizProcName Varchar(4000) = Null,
  @V_Msg_Type Varchar(4000) = Null,
  @V_Desc Varchar(4000) = Null,
  @V_Classname Varchar(4000) = Null,
  @V_MethodName Varchar(4000) = Null
)
AS

BEGIN
SET NOCOUNT ON;
    
	SET IDENTITY_INSERT [dbo].Biz_Process ON
    Insert Into Biz_Process(BIZPROCESSID,BIZPROCESSNAME,CHANNELID,MESSAGETYPE,DESCRIPTION,ACTION_TYPE)
    VALUES ((SELECT Max(BIZPROCESSID) + 1 FROM BIZ_PROCESS), @V_BizProcName,'1',@V_Msg_Type,@V_Desc,'1');
	SET IDENTITY_INSERT [dbo].Biz_Process OFF

	SET IDENTITY_INSERT [dbo].Biz_Process_States ON
    Insert Into Biz_Process_States(Processstateid,Classname,Methodname,Bizprocessid,Nextseqnum_Success,Nextseqnum_Fail,Sequencenumber)
    Values ((Select Max(Processstateid) + 1 From Biz_Process_States), @V_Classname,@V_MethodName,
      (Select Bizprocessid From Biz_Process Where  Messagetype = @V_Msg_Type),
      0,0,1); 
	SET IDENTITY_INSERT [dbo].Biz_Process_States OFF
  
END;
GO


CREATE PROCEDURE BIZPROC_TABLE_DELETE_ENTRY
-- ALTER PROCEDURE BIZPROC_TABLE_DELETE_ENTRY
(
  @V_Msg_Type Varchar(4000) = Null
)
AS
BEGIN
  DECLARE @v_BIZPROCESSID                 DECIMAL(19,0);

 
SET NOCOUNT ON;
	
	Select @V_Bizprocessid = B.Bizprocessid  From Biz_Process B Where B.Messagetype = @V_Msg_Type;
  
    IF (@V_Bizprocessid is not null AND @V_Bizprocessid != 0)
    begin
	Delete From Biz_Process_States Where Bizprocessid = @v_BIZPROCESSID;
	Delete FROM Biz_Process Where Bizprocessid = @v_BIZPROCESSID;
    END;
  
END;
GO
