
CREATE PROCEDURE BIZPROCSTATE_TABLE_PLAIN_ENTRY
-- ALTER PROCEDURE [dbo].[BIZPROCSTATE_TABLE_PLAIN_ENTRY]
(
  @V_Msg_Type Varchar(4000) = Null,
  @V_Classname Varchar(4000) = Null,
  @V_MethodName Varchar(4000) = Null,

  @V_Nextseqnum_Success int = 0,
  @V_Nextseqnum_Fail int = 0,
  @V_Sequencenumber int = 0
)
AS

BEGIN
SET NOCOUNT ON;

	SET IDENTITY_INSERT [dbo].Biz_Process_States ON
    Insert Into Biz_Process_States(Processstateid,Classname,Methodname,Bizprocessid,Nextseqnum_Success,Nextseqnum_Fail,Sequencenumber)
    Values ((Select Max(Processstateid) + 1 From Biz_Process_States), @V_Classname, @V_MethodName,
      (Select Bizprocessid From Biz_Process Where  Messagetype = @V_Msg_Type),
      @V_Nextseqnum_Success, @V_Nextseqnum_Fail, @V_Sequencenumber); 
	SET IDENTITY_INSERT [dbo].Biz_Process_States OFF
  
END;
GO



CREATE PROCEDURE BIZPROCSTATE_TABLE_DELETE_ENTRY
-- ALTER PROCEDURE [dbo].[BIZPROCSTATE_TABLE_DELETE_ENTRY]
(
  @V_Msg_Type Varchar(4000) = Null,
  @V_MethodName Varchar(4000) = Null
)
AS

BEGIN
SET NOCOUNT ON;

	Declare @v_BIZPROCESSID bigint = 0
	
	Select @v_BIZPROCESSID = B.Bizprocessid From Biz_Process B Where B.Messagetype = @V_Msg_Type;
  
	Delete From Biz_Process_States Where Bizprocessid = @v_BIZPROCESSID and Methodname = @V_MethodName;
  
END;
GO