
Select * From helper_VW_FIELD_MAPPING
where INTERNAL_FIELD_NAME like '%MsgType%'


Select * From helper_VW_FIELD_MAPPING
where LOG_FIELD_NAME like '%var32_01%'

-- SELECT * FROM MGP_RDZ..LOG_FIELD_MAPPING WHERE MSG_FIELD_ID = 1674;
-- Delete FROM MGP_RDZ..LOG_FIELD_MAPPING WHERE MSG_FIELD_ID = 1674;



Select * From MGP_RDZ..ADAPTER;

-- DROP View helper_RdvFieldMapping
GO
Create View helper_RdvFieldMapping
AS
	SELECT	X.ADAPTER_ID, X.ADAPTER_NAME, X.NETWORK_ID,
			'SELECT LOG_ID, RECEIVE_TIME, ADAPTER_ID, ERROR_CODE,' +
			STUFF(
					(SELECT ',' + M.LOG_FIELD_NAME + ' as ''' + M.LOG_FIELD_NAME + '  [ ' + M.INTERNAL_FIELD_NAME + ' ]'' '
					FROM helper_VW_FIELD_MAPPING M
					WHERE M.NETWORK_ID = X.NETWORK_ID
					FOR XML PATH ('')), 
					1, 1, ''
				) 
			+
			' FROM MPG_LOG WHERE ADAPTER_ID in ('+
				Cast(X.ADAPTER_ID as varchar)
				-- STUFF((SELECT ',' + Cast(X.ADAPTER_ID as varchar) FROM MGP_RDZ..ADAPTER Where NETWORK_ID = X.NETWORK_ID FOR XML PATH ('')), 1, 1, '')
			+') Order by 2 desc' [SQL]
	FROM	MGP_RDZ..ADAPTER X 
	--Where NETWORK_ID in (5,7)
GO

--and cast(receive_time as bigint) >= 20220202000000
--and cast(receive_time as bigint) <= 20220202235959



-- DROP View helper_AdapterNetwork
GO
Create View helper_AdapterNetwork
AS
	Select
		A.ADAPTER_ID,A.ADAPTER_TYPE,A.ADAPTER_NAME,A.META_LENGTH_TYPE,A.ADDRESS,
		N.NETWORK_ID,N.NETWORK_TYPE,N.NAME,N.TRAN_SUMMARY_SQL
	From MGP_RDZ..ADAPTER A
	Inner Join MGP_RDZ..NETWORK N On A.NETWORK_ID = N.NETWORK_ID
GO







--select listagg(table_name, ', ') within group (order by table_name) 
--  from user_tables;


Select distinct SQL From helper_RdvFieldMapping
Where ADAPTER_ID in (14,18);


Select * From helper_AdapterNetwork

