
IF OBJECT_ID('helper_RdvFieldMapping', 'V') IS NOT NULL
	Drop View helper_RdvFieldMapping
GO

Create View helper_RdvFieldMapping
AS
	SELECT	X.ADAPTER_ID, X.ADAPTER_NAME, X.NETWORK_ID,
			'SELECT LOG_ID, RECEIVE_TIME, ADAPTER_ID, ERROR_CODE,' +
			STUFF(
					(SELECT ',' + M.LOG_FIELD_NAME + ' as ''' + M.LOG_FIELD_NAME + '  [ ' + M.INTERNAL_FIELD_NAME + ' ]'' '
					FROM helper_VW_FIELD_MAPPING M
					WHERE M.NETWORK_ID = X.NETWORK_ID
					FOR XML PATH ('')), 
					1, 1, ''
				) 
			+
			' FROM MPG_LOG WHERE ADAPTER_ID in ('+
				Cast(X.ADAPTER_ID as varchar)
				-- STUFF((SELECT ',' + Cast(X.ADAPTER_ID as varchar) FROM MGP_RDZ..ADAPTER Where NETWORK_ID = X.NETWORK_ID FOR XML PATH ('')), 1, 1, '')
			+') Order by 2 desc' [SQL]
	FROM	MGP_RDZ..ADAPTER X 
	--Where NETWORK_ID in (5,7)
GO
