
IF OBJECT_ID('helper_AdapterNetwork', 'V') IS NOT NULL
	Drop View helper_AdapterNetwork
GO

Create View helper_AdapterNetwork
AS
	Select
		A.ADAPTER_ID,A.ADAPTER_TYPE,A.ADAPTER_NAME,A.META_LENGTH_TYPE,A.ADDRESS,
		N.NETWORK_ID,N.NETWORK_TYPE,N.NAME,N.TRAN_SUMMARY_SQL
	From MGP_RDZ..ADAPTER A
	Inner Join MGP_RDZ..NETWORK N On A.NETWORK_ID = N.NETWORK_ID
GO


