<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <appSettings>

    <!-- NATS Messaging -->
    <!--<add key="NatsAddress" value="127.0.0.1:4222" />-->
    <add key="NatsAddress" value="nats://172.16.11.71:4222" />
    <!-- <add key="NatsAddress" value="nats://10.23.0.74:4224,nats://10.23.0.75:4224,nats://10.23.0.76:4224" /> -->
    <add key="NatsUser" value="nouman" />
    <!--<add key="NatsPassword" value="mFBV0I47u8nA3N69XD6z9Ugws6uFYDUqjTJvQl2bDmA="/>-->
    <add key="NatsPassword" value="nouman.nawaz@avanzasolutions.com" />
    <!--<add key="sNatsSubjectsUI" value="AspireWebUI.FreeRequests,AspireWebUI.AwaitRequests,AspireWebUI.AwaitResponse" />-->
    <add key="sNatsStreamUI" value="ASPIREWEBUI" />
    <add key="sNatsSubjectsUI" value="ASPIREWEBUI.FREE_REQUESTS,ASPIREWEBUI.AWAIT_REQUESTS,ASPIREWEBUI.AWAIT_RESPONSE" />
    <!--<add key="sNatsSubjectsUI" value="AspireWebUI.FreeRequests" />-->
    <add key="sNatsSubjects103" value="103.103" />
    <add key="sNatsSubjectsOtherTrans" value="OTHER_TRANS.OTHER_TRANS,OTHER_TRANS.BATCH_SWIFT,OTHER_TRANS.DNS_SWIFT,OTHER_TRANS.NRT_DC_SWIFT,OTHER_TRANS.NRT_SWIFT,OTHER_TRANS.SETTLEMENT_SWIFT,OTHER_TRANS.NRT_DC_DATABASE" />

    <!--  RetentionPolicy   0 : Limits | 1 : Interest | 2 : WorkQueue -->
    <add key="RetentionPolicy" value="2" />

    <!--  DiscardPolicy   0 : New | 1 : Old -->
    <add key="DiscardPolicy" value="0" />

    <!--  StorageType   0 : File | 1 : Memory -->
    <add key="StorageType" value="0" />

    <add key="Replicas" value="1" />
    <add key="AllowRollup" value="false" />
    <add key="DenyDeletion" value="false" />
    <add key="MessageLimit" value="-1" />
    <add key="MessageLimitPerSubject" value="-1" />
    <add key="TotalStreamSize" value="-1" />
    <add key="MessageTTL" value="0" />
    <add key="MaxMessageSize" value="1048576" />
    <add key="DuplicateWindow" value="0" />
    <add key="AllowPurge" value="false" />

    <add key="noOfSubscribers" value="1" />
    <add key="iRetryInterval" value="5000" />
    <add key="sNextMsgTimeout" value="5000" />
    <!-- NATS Messaging -->
  </appSettings>

</configuration>