<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="MachineAddresses" type="Avanza.KeyStore.XmlConfigReader, Avanza.KeyStore" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <!-- AKS x64 -->
    <add key="DEKPath" value="C:\Avanza\SymmetryWeb\Store\Store.txt" />
    <add key="ClearDEK" value="8Z3Vcz4jui0gZjUWUDMnjDW/jaZlheFNaloMKoHT+ho=" />

    <!-- AKS x86 -->
    <!--<add key="DEKPath" value="C:\Avanza\VisionWeb\Store.x86\Store.txt" />-->
  </appSettings>


  <nlog persist="false" debug="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="FileLog" xsi:type="File"
					layout="${longdate}|${logger}|${level}|${threadid}|${event-properties:item=ENTITY}|${event-properties:item=UPDATED_BY}|${event-properties:item=MACHINE_NAME}|${event-properties:item=EVENT_ORIGIN}|${event-properties:item=ACTION}|${event-properties:item=RESULT}|${event-properties:item=MESSAGE}|${event-properties:item=DESCRIPTION}|${event-properties:item=EXCEPTION}"
					fileName="C:\Avanza\Logs\MPG_WEB\RestLogs\MPGWebRest_${shortdate}.log"
					archiveAboveSize="50000000" archiveNumbering="Sequence" concurrentWrites="true" keepFileOpen="false" />
    </targets>
    <rules>
      <logger name="AvanzaLogs" minlevel="Debug" writeTo="FileLog" />
    </rules>
  </nlog>


  <MachineAddresses>
    <!-- AKS x64 -->
    <AvanzaKeyStore address="127.0.0.1" port="50922" tls-certificate-path="C:\SSL_CERT\RdvCert.pem" />

    <!-- AKS x64 -->
    <!--<AvanzaKeyStore address="127.0.0.1" port="50921" tls-certificate-path="C:\SSL_CERT\RdvCert.pem" />-->

  </MachineAddresses>

</configuration>