<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="RDV_OLEDB_CONNSTR" value="Provider=OraOLEDB.Oracle;Persist Security Info=True;User ID=RDV_UAT;Password=rdvuat;OLEDB.NET=True;Data Source=ORCL_127_0_0_1" />
    <add key="RDV_ORCL_CONNSTR" value="DATA SOURCE=ORCL_127_0_0_1;User Id=RDV_UAT;Password=rdvuat;PERSIST SECURITY INFO=True;Max Pool Size=200;" />
    <add key="RDV_SQL_CONNSTR-------" value="XXXXXXXXXXXXXXXXXXX" />
    <add key="RDV_TP_QUEUE" value="RdvTP" />
    <add key="DEST_ADDRESS" value="127.0.0.1 1900" />
  </appSettings>

</configuration>