<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="MachineAddresses" type="Avanza.Core.Configuration.XmlConfigReader, Avanza.Core"/>
    <section name="avan-log" type="Avanza.Core.Configuration.XmlConfigReader, Avanza.Core"/>
  </configSections>

  <appSettings>
    <add key="RDVSMDEKStorePath" value="C:\Avanza\RDVSM\Store\Store.txt"/>
    <add key="VisionDEKStorePath" value="C:\Avanza\Vision\Store\Store.txt"/>
    <add key="RdvSMEncryption" value="C:\Avanza\RdvSMEncryption.log"/>
  </appSettings>

  <avan-log persist="false" debug="false">
    <logger-list>
      <logger name="Avanza" level="Fine" default="true">
        <handler-list>
          <handler ref="FileHandler" />
        </handler-list>
      </logger>
    </logger-list>
    <handler-list>
      <log-handler name="FileHandler" level="Fine">
        <assembly type="Avanza.Core.Logging.FileLogHandler" name="Avanza.Core.dll"/>
        <config file-name="C:\Avanza\Vision.Logs\Client.log" max-size="10MB"/>
      </log-handler>
    </handler-list>
  </avan-log>

  <MachineAddresses>
    <AvanzaKeyStore address="127.0.0.1" port="50921" tls-certificate-path="C:\SSL_CERT\RdvCert.pem" />
    <AvanzaPasswordManagerRDV address="192.168.91.9" port="5000" tls-certificate-path="C:\SSL_CERT\RdvCert.pem" />
    <AvanzaPasswordManagerNimbus address="192.168.91.9" port="5000" tls-certificate-path="C:\SSL_CERT\RdvCert.pem" />
    <AvanzaPasswordManagerRDVSM address="192.168.91.9" port="5000" tls-certificate-path="C:\SSL_CERT\RdvCert.pem" />
  </MachineAddresses>

</configuration>