<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!-- The connection string will be encrypted on production -->
        <!--<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=CPS;User Id=cps;Password=cps" providerName="System.Data.SqlClient" />-->
        <add name="ConnectionString" connectionString="sfLYxf09PqB7wbhNYezLecNisqlvrneSWp8FnQlwp45Zo7nCaNloMrDqEAdBND4mbYzU4juA6eggHJi+0SYYSg==" providerName="System.Data.SqlClient" />
        <!--<add name="ConnectionString" connectionString="Data Source=10.2.3.75,11433;Initial Catalog=CPS_UAT;User Id=CPS;Password=abc@123;" providerName="System.Data.SqlClient" />-->
        <!--<add name="ConnectionString" connectionString="sfLYxf09PqAtOUGOnq/w6h4r+9IW6Zz11bPjRbmT2bf7YiEq6BSUrgZa0PYi5j7737ic5dHh41KyywJCIj/v8C3SuT8PWtamrDYZOjT52XySzVoP/4rwoA==" providerName="System.Data.SqlClient" />-->
        <!--
      
        Connection String Sample
        ========================
        <add name="ConnectionString" connectionString="Data Source=[Data_Source_IP,Port];Initial Catalog=[DB_Name];User Id=[DB_USER_ID];Password=[DB_USER_ID_PASSWORD]; providerName="System.Data.SqlClient" " /> 
        
        For Example
        ===========
        <add name="ConnectionString" connectionString="Data Source=10.2.3.100,55555;Initial Catalog=CPS_UAT_DB;User Id=ABC;Password=ABC_098;" providerName="System.Data.SqlClient"  />
        
        Encrypted Connection String
        ===========================
        <add name="ConnectionString" connectionString="sfLYxf09PqAtOUGOnq/w6h0ORmGRwPXTo9QfKf/qdiiQa/gqLe937m8GI+PICfuZP3TxFHSUgfNoPL0G8RRoM57io8f0CjJq8cLRkQ5dbDgM5XnEqQeYMA==" providerName="System.Data.SqlClient"  />
        
        -->
    </connectionStrings>
</configuration>