<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="SmtpHost" value="209.237.134.152" />
    <add key="SmtpPort" value="25" />-->
    <!--<add key="SmtpAddress" value="mubashir.khan@avanzasolutions.com" />-->
    <!--<add key="SmtpPassword" value="BE18568B1CDC548C69CAA0112ABB906F" />-->

    <add key="SmtpHost" value="10.2.0.140" />
    <add key="SmtpPort" value="25" />
    <add key="VisionEmailId" value="razaussamad@gmail.com" />
    <add key="VisionEmailPassword" value="386A63993FD7B636288EDB778B86EDFD" />
  </appSettings>
</configuration>